<h1>About Us </h1>

<div class="tea-third">
  <img src="samp1.jpg" style="width:100%;min-height:200px">
</div>
<h2>We love a good cup of Tea.  </h2>
  <p> Having been in the Tea business for many years, we've decided to share our love of tea with you.</p>

  
<div class="tea-twothird tea-container">
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>