<h1>Contact</h1>

<div class="tea-third">
  <img src="samp1.jpg" style="width:100%;min-height:200px">
</div>

<h2>Do you have any Questions?</h2>
  <p> Feel free to contact us if you have any questions about our product. </p>

<div class="tea-twothird tea-container">
 
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>